<p id="notice"><%= notice %></p>

<h1>Snaps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snaps.each do |snap| %>
      <tr>
        <td><%= snap.name %></td>
        <td><%= snap.detail %></td>
        <td><%= snap.image %></td>
        <td><%= link_to 'Show', snap %></td>
        <td><%= link_to 'Edit', edit_snap_path(snap) %></td>
        <td><%= link_to 'Destroy', snap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snap', new_snap_path %>
