<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @snap.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @snap.detail %>
</p>

<p>
  <strong>Images:</strong>

  <% @snap.images.each do |image| %>
    <%= image_tag image.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_snap_path(@snap) %> |
<%= link_to 'Back', snaps_path %>
