<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snap.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @snap.detail %>
</p>

<p>
  <strong>Image:</strong>
  <%# <%= image_tag @snap.image.url if @snap.image %> %>
  <%= image_tag @snap.images.url %>
</p>

<%= link_to 'Edit', edit_snap_path(@snap) %> |
<%= link_to 'Back', snaps_path %>
